 body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color:aliceblue;
}
h1{
    text-align: center;
    color:gray;
}
form{
    margin: auto;
    background-color:azure;
    border-radius: 9px;
    box-shadow: 0 4px 8px black;
    padding: 20px;
    width: 500px;
}
fieldset{
    border: 2px solid grey;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
input,textarea{
    width: calc(100% - 1px);
}
button{
    width: 100%;
    background-color: ivory;
}
button:hover{
 background-color:bisque;
} 
